<div class="container">
    <div class="form-container">
        <div class="title">Create Account</div>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Enter you email</mat-label>
                <input matInput formControlName="email" />

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter you username</mat-label>
                <input matInput formControlName="username" />

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter you password</mat-label>
                <input type="password" matInput formControlName="password" />

            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button mat-raised-button class="login-button">
                Create Account
            </button>
            <p>OR</p>
            <button routerLink="/login" mat-button>Login</button>
        </div>
    </div>
</div>